# .npmrc
# Configuration for pnpm.

# Uses the exact version instead of any within-patch-range version of an
# installed package.
save-exact=true
# Do not use the `workspace:` protocol while saving packages as npm doesn't
# understand it.
save-workspace-protocol=false
# Do not error out on missing peer dependencies.
strict-peer-dependencies=false
